<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
          integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>Praca domowa tydzień 7</title>
</head>
<body>
<div>
    <h1> Praca domowa tydzień 7  (zadanie 1 + 2) </h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/car-list">Car list</a></li>
            <li class="breadcrumb-item"><a href="/add-car">Add car </a></li>
            <li class="breadcrumb-item"><a href="/find-cars">Find cars </a></li>
            <li class="breadcrumb-item"><a href="/news-list">News - API to DataBase </a></li>
        </ol>
    </nav>
</div>
</body>
</html>
